<h1>Binomial Distribution</h1>

<h1>Listing answers</h1>
 
<table>
  <tr>
    <th>Trials</th>
    <th>Successes</th>
    <th>Chances</th>
    <th>Binomial Probability</th>
    <th>Cumulative Probability</th>
  </tr>
 
  <% @binomials.each do |b| %>
    <tr>
      <td><%= b.trials %></td>
      <td><%= b.successes %></td>
      <td><%= b.chances %></td>
      <td><%= b.Binomial_Probability() %></td>
      <td><!--%= b.Cumulative_Probability() %--></td>
    </tr>
  <% end %>
</table>

